* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background: url(imgs/patrick-unsplash.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
}

h1 {
  font-size: 50px;
  line-height: 1.5;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  padding: 20px 40px;
}

p {
  display: grid;
  grid-template-columns: 500px;
  padding: 10px 40px;
}

.nav__links {
  list-style-type: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 20px;
  text-shadow: 2px 2px 4px #000000;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: white;
}

.nav__links li a:hover {
  color: #e0ec34;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  /* background-color: rgba(255, 255, 255, 0.2); */
}

.logo {
  cursor: pointer;
}

/* Navbar */
/* .navbar {
  background-color: lightslategray;
  color: #fff;
  overflow: hidden;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar a {
  color: rebeccapurple;
  padding: 10px;
  margin: 0 5px;
}

.navbar .flex {
  justify-content: center;
  align-items: center;
} */
