* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background: url(imgs/patrick-unsplash.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
}

h1 {
  font-size: 50px;
  line-height: 1.5;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  padding: 20px 40px;
}

p {
  display: grid;
  grid-template-columns: 500px;
  padding: 10px 40px;
}

.nav__links {
  list-style-type: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 20px;
  text-shadow: 2px 2px 4px #000000;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: white;
}

.nav__links li a:hover {
  color: #ffd36a;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  /* background-color: rgba(255, 255, 255, 0.2); */
}

.logo {
  cursor: pointer;
}

button {
  border-radius: 4px;
  background-color: #ffd36a;
  border: 2px solid #3a3f47;
  color: #fff;
  text-align: center;
  font-size: 20px;
  padding: 16px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

button:hover {
  padding-right: 24px;
  padding-left: 8px;
}

button:hover:after {
  opacity: 1;
  right: 10px;
}

.container {
  display: grid;
  padding: 20px;
  grid-template-columns: minmax(400px, 500px);
}

/* Navbar */
/* .navbar {
  background-color: lightslategray;
  color: #fff;
  overflow: hidden;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar a {
  color: rebeccapurple;
  padding: 10px;
  margin: 0 5px;
}

.navbar .flex {
  justify-content: center;
  align-items: center;
} */
